@import url("https://fonts.googleapis.com/css2?family=Chonburi&family=Nunito:wght@200&display=swap");
body {
  margin: 0;
  width: 100%;
  font-family: 'Nunito', sans-serif;
}

.product_containter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70%;
  margin: auto;
  margin-top: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_image {
  width: 50%;
}

.product_image .small_image_container {
  margin-top: 0.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_image .small_image_container img {
  border-style: solid;
  border-color: white;
  border-width: 2px;
  width: 17%;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.product_image .small_image_container img:hover {
  border-color: black;
  cursor: pointer;
}

.big_img {
  width: 100%;
  position: relative;
}

.big_img .banner_icon {
  font-size: 23px;
  color: azure;
  display: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.big_img:hover {
  cursor: pointer;
}

.big_img:hover .banner_icon {
  display: block;
}

.bg_img {
  width: 100%;
}

.fa-chevron-circle-right {
  position: absolute;
  right: 5%;
  top: 50%;
}

.fa-chevron-circle-left {
  position: absolute;
  left: 5%;
  top: 50%;
}

.product_detail {
  width: 50%;
  padding-left: 4.5rem;
}

.title {
  font-family: 'Chonburi', sans-serif;
  font-size: 2rem;
}

h5 {
  -webkit-text-decoration: bold;
          text-decoration: bold;
  font-size: 1rem;
}

p {
  font-size: 0.9rem;
}

.review {
  margin-top: 2rem;
}

.review p {
  font-size: 0.8rem;
  margin-top: 0.6rem;
}

.review p span {
  color: #08a13b;
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stars i {
  display: block;
  color: #3bce7d;
  font-size: small;
  margin-right: 1px;
}

.submit_review {
  text-decoration: underline;
}

.submit_review:hover {
  cursor: pointer;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btns button {
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
  padding: 0.7rem 1.8rem;
  border: none;
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
  border-radius: 2px;
}

.btn_cart {
  margin-right: 0.8rem;
  color: white;
  background-color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn_cart:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.btn_wishlist {
  color: black;
  background-color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn_wishlist:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.lower_section {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 8rem auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card_detail {
  margin: 0 1rem;
}

.card_title {
  margin-top: 0;
  margin-bottom: 0;
}

.card_icon {
  display: block;
  font-size: larger;
  color: #3b3a3a;
}

@media (max-width: 1100px) {
  .product_containter {
    width: 80%;
  }
  .lower_section {
    width: 80%;
  }
}

@media (max-width: 1060px) {
  .product_containter {
    width: 85%;
  }
  .lower_section {
    width: 85%;
  }
}

@media (max-width: 1000px) {
  .product_containter {
    width: 90%;
  }
  .lower_section {
    width: 90%;
  }
}

@media (max-width: 935px) {
  .product_containter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
  }
  .product_image {
    width: 100%;
  }
  .product_detail {
    width: 100%;
    padding-left: 0;
  }
  .lower_section {
    width: 70%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card {
    width: 50%;
    margin-top: 2rem;
  }
}

@media (max-width: 667px) {
  .lower_section {
    width: 80%;
  }
  .product_containter {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .lower_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .lower_section {
    width: 85%;
  }
  .product_containter {
    width: 85%;
  }
  .btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .btns button {
    margin-top: 0.7rem;
  }
}
/*# sourceMappingURL=style.css.map */